{% load static %}
<footer class="footer">
    <div class="footer-container">
        <div class="footer-bottom">
            <div class="footer-brand-info">
                <img src="{% static 'img/LogoCarnavalOruroClub.webp' %}" alt="Club Carnaval Oruro" class="footer-logo">
                <span class="footer-brand-name"><span class="brand-white">Club carnaval</span> <span class="brand-mint">Oruro</span></span>
            </div>
            <p class="footer-copy">&copy; <span data-year>2026</span>Sistema de Registro Integral de Danzarines</p>
            <div class="footer-legal">
                <a href="#">Términos</a>
                <a href="#">Privacidad</a>
                <a href="#">Soporte</a>
            </div>
        </div>
    </div>
</footer>
