<div class="modal fade" id="modalVerBloque">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Detalle del bloque</h5>
            </div>
            <div class="modal-body">
                <p><strong>Nombre:</strong> <span id="verBloqueNombre"></span></p>
                <p><strong>Conjunto:</strong> <span id="verBloqueConjunto"></span></p>
                <p><strong>Asociación:</strong> <span id="verBloqueAsociacion"></span></p>
                <p><strong>Descripción:</strong> <span id="verBloqueDescripcion"></span></p>
            </div>
        </div>
    </div>
</div>
