.modal-editar-gestion .modal-footer .btn-primary {
    color: #212529;
    background-color: #f0ad00 !important;
    border-color: #f0ad00 !important;
}

.modal-editar-gestion .modal-footer .btn-primary:hover,
.modal-editar-gestion .modal-footer .btn-primary:focus {
    color: #212529;
    background-color: #d99b00 !important;
    border-color: #d99b00 !important;
}